In [1]:
import numpy as np
import pandas as pd

In [69]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [38]:
def is_october_record(d):
    return (d < pd.to_datetime("2015-11-01")) & (d >= pd.to_datetime("2015-10-01"))

In [39]:
pd.to_datetime(df.date).where(is_october_record).dropna()

2323485   2015-10-01
2323486   2015-10-01
2323503   2015-10-01
2323587   2015-10-01
2323627   2015-10-01
             ...
2935840   2015-10-31
2935842   2015-10-10
2935844   2015-10-10
2935846   2015-10-14
2935847   2015-10-22
Name: date, Length: 51904, dtype: datetime64[ns]

In [54]:
test_ids = pd.read_csv("../data/test.csv").set_index(["shop_id", "item_id"])

In [76]:
last_month_df = pd.read_csv("../data/sales_train.csv") \
    .query("item_cnt_day >= 0") \
    .assign(date=lambda df: pd.to_datetime(df.date)) \
    .assign(is_last_month=lambda df: is_october_record(df.date)) \
    .query("is_last_month") \
    .groupby(["shop_id", "item_id"]) \
    .apply(lambda df: df.sort_values("date").iloc[-1])

In [93]:
last_month_value = test_ids.join(last_month_df) \
    .reset_index(drop=True) \
    .groupby("ID") \
    .agg({"item_cnt_day": sum}) \
    .clip(0, 20) \
    .rename(columns={"item_cnt_day":"item_cnt_month"})

In [94]:
last_month_value.to_csv("../submission.csv")

In [95]:
last_month_value

        item_cnt_month
ID
0                  0.0
1                  0.0
2                  0.0
3                  0.0
4                  0.0
...                ...
214195             1.0
214196             0.0
214197             0.0
214198             0.0
214199             0.0

[214200 rows x 1 columns]